.ChatPage{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChatContainer{
    background-color: white;
    width: 50%;
    height: 60%;
}
.header{
    background-color: crimson;
    height: 15%;
}
.ChatBox{
    border: 0.2vmax solid black;
    height: 70%;
    box-sizing: border-box;
}
.InputBox{
    background-color: crimson;
    height: 15%;
    box-sizing: border-box;
    display: flex;
}
#ChatInput{
    width: 80%;
    border: none;
    background-color: white;
    padding: 2vmax;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
}
.SendButton{
    width: 20%;
    background-color: crimson;
    color: white;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}
.SendButton:hover{
    background-color: rgb(81, 6, 21);
}